.lds-ring {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8b8b8b6b;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999999999999;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 45px;
  height: 45px;
  margin: 8px;
  border: 4px solid #008060;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0, -0.02, 0, -0.01) infinite;
  border-color: #008060 transparent transparent transparent;
  z-index: 999999999999999;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
